@model ETTU_Gadgets_Web.Models.Race

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Race</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Pool.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pool.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
