@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<h3>Developer</h3>
<span>René van den Ouden</span>

<h3>Email</h3>
<span><a href="mailto:r.ouden@ettu.nl">r.ouden@ettu.nl</a></span>

@Html.Partial("_Navigation")